.page4 {
    position: relative;
    background-color: black;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.topSection {
    width: 100%;
    height: 50%;
    position: relative;
    padding-top: 5%;
    overflow: hidden;
}

.row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.garland1,
.garland2 {
    position: relative;
    width: 22%;
    top: 17%;
}

.garland1 {
    left: 8%;
}
.garland2 {
    right: 8%;
}

.testimony1,
.testimony2 {
    position: absolute; 
    width: 90%;
    top: 22%; 
    color: #e8e8e8;
    font-family: 'Mont-Regular';
    text-align: center;
    font-size: 1.5vw;
    margin: 0%;
    z-index: 10;
}
.testimony1 {
    left: -26%;
}
.testimony2 {
    right: -26%;
}
.rank-icon {
    position: relative;
    width: 10%; 
    height: auto;
    left: 0; right: 0; margin: auto;  
    top: 13%;           
}

.rocket-divider {
    position: relative;
    width: 47.48%; 
    height: auto;
    /* top: 20%; */
    padding-top: 5%;
    padding-bottom: 5%;
}

.author {
    font-size: 1vw;
}

.midSection {
    background-color: #3c3c45;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5rem;
}

.text-box {
    position: relative;
    left: 21.96%;
    top: 10%;
    width: 58.28%;
    height: auto;
    margin-top: 3%;
}


.stay-connected {
    position: absolute;
    left: 30%;
    /* top: 18%; */
    margin-top: -25%;
    font-family: 'Mont-SemiBold';
    font-size: 2.5vw;
    color: #1CC0DE;
    text-shadow: -0.3vw 0.15vw 0.1vw #3F1B45 ;
}

.p4-content {
    position: absolute;
    left: 30%;
    /* top: 27%; */
    margin-top: -21%;
    width: 42%;
    font-family: 'Mont-Regular';
    color: #1CC0DE;
    font-size: 1.2vw;
    white-space: nowrap;
}

.image-button {
    position: absolute; 
    left: 56%;
    margin-top: -8%;
    /* text-align: start; */
    width: 20%;
    height: auto;
}

.submit-button {
    width: 100%; 
    height: auto;
}

.button-text {
    position: absolute; 
    top: 50%; 
    left: 40%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1.7vw; 
    font-family: 'Mont-SemiBold';
    pointer-events: none; 
    text-shadow: -0.1vw 0.05vw 0.1vw #d8d8d8;
}

/* @media (max-width: 576px) {
    .image-button { top: 38%; }
    .button-text { top: 59%; }
} */

.image-button:hover .submit-button {
    filter: brightness(0.8); 
}

.name-container {
    position: absolute;
    left: 30%;
    top: 39%;
    /* margin-top: -16%; */
    width: 50%;
}

.name-label {
    color: #e8e8e8; 
    font-family: 'Mont-Regular';
    font-size: 1.4vw;
    font-weight: bold;
    padding-right: 3.5%;
    vertical-align: bottom;
}

.name-input {
    background: transparent; 
    border: none; 
    border-bottom: 2px solid #e8e8e8; 
    color: #e8e8e8; 
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    width: 63%; 
    outline: none; 
    padding: 5px 0; 
}

.name-input::placeholder { color: rgba(255, 255, 255, 0.5); }
.name-input:focus { border-bottom: 2px solid #1CC0DE; }

.email-container {
    position: absolute;
    left: 30%;
    top: 51%;
    /* margin-top: -12%; */
    width: 50%;
    height: auto;
}

.email-label {
    color: #e8e8e8; 
    font-family: 'Mont-Regular';
    font-size: 1.4vw;
    font-weight: bold;
    padding-right: 2%;
    vertical-align: bottom;
}

.email-input {
    background: transparent; 
    border: none; 
    border-bottom: 2px solid #e8e8e8; 
    color: #e8e8e8; 
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    width: 63%; 
    outline: none; 
    padding: 5px 0; 
}

.email-input::placeholder {
    color: rgba(255, 255, 255, 0.5); 
}

.email-input:focus {
    border-bottom: 2px solid #1CC0DE; 
}

.message-container {
  margin-top: 10px;/* Adds spacing above the message */
  justify-content: center;
}

.email-message {
  position: absolute;
  font-family: 'Mont-Regular';
  color: #1CC0DE;
  font-size: 1.2vw;
}

.robot {
    position: absolute;
    left: 3%;
    /* top: 52%; */
    bottom: 0%;
    width: 20%;
    height: auto;
}

.left-corner-art {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: auto;
}

.right-corner-art {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11%;
    height: auto;
}

.footer {
    background-color: black;
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 14%;
}

.edlogo {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 5%;
    height: auto;
}

.game-logo {
    position: absolute;
    left: 21%;
    top: 20%;
    width: 5%;
    height: auto;
}

.app-store {
    position: absolute;
    left: 36.23%;
    top: 20%;
    width: 14%;
    height: auto;
}

.play-store {
    position: absolute;
    left: 56.08%;
    top: 20%;
    width: 14%;
    height: auto;
}

.app-store:hover , .play-store:hover {
    box-shadow: 0 0 15px #e8e8e8;
    border-radius: 14px;
}

.esrb-rating {
    position: absolute;
    left: 81.98%;
    top: 20%;
    width: 11%;
    height: auto;
}

.footer-content {
    position: absolute;
    font-family: 'Mont-Regular';
    color: #1CC0DE;
    font-size: 1.1vw;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    width: 100%;
    top: 80%;
}

.contact-link,
.privacy-link {
    color: #e8e8e8;
    text-decoration: none;
}
.contact-link:hover { color: #1CC0DE; }
.privacy-link:hover { color: #1CC0DE; }

@media (max-width: 576px) {
    .midSection {
        height: 50%;
    }
    .name-container { top: 16%; }
    .email-container { top: 24%; }
    .button-text { top: 57%; }
    .robot { 
        left: 0;
        width: 30%;}
    .row-top {
        flex-direction: column !important;
        align-items: center; 
        justify-content: center;
    }
    .garland1, .garland2 {
        width: 40%; 
        position: static;
    }
    .testimony1, .testimony2 {
        position: static;
        text-align: center;
        width: 100%;
        font-size: 3.3vw;
        margin-top: -16%;
    }
    .author{
        font-size: 2vw;
    }
    .rank-icon {
        position: static;
        margin: 10px 0;
        width: 18%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .midSection {
        height: 50%;
    }
    .name-container { top: 32%; }
    .email-container { top: 42%; }
    .button-text { top: 54%; }
    .robot { 
        left: 0;
        width: 30%;}
}

@media (min-width: 1025px) and (max-width: 3560px) {
    .midSection {
        height: 50%;
    }
    .p4-content {
        padding-bottom: 40px;
    }
}