
.custom-table {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    background-color: #041B2D;
    color: white;
    overflow: hidden;
    font-family: 'Mont-Regular';
    font-size: 1.3vw;
}

.custom-table th {
    background-color: black;
    padding: 2%;
    /* padding-left: 20px; */
    text-align: left;
    font-size: 1.5vw;
    /* border: 1px solid white; */
}

.custom-table td {
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #333;
}

.rank-badge {
    /* min-width: 50px; */
    /* min-height: 50px; */
    width: 50%;
    height: auto;
    align-items: center;
}

.loading-text {
    font-family: 'Mont-Regular';
    text-align: center;
    font-size: 1.5vw;
    padding: 100%;
}

.scrollable-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #041B2D;
    padding: 10px;
}

.rank-container {
    position: relative;
    display: inline-block;
    width: 50px;  /* Set a fixed width */
    height: 50px; /* Set a fixed height */
}

.default-rank {
    min-width: 60px;
    min-height: 60px;
    width: 100%;
    height: auto;
    display: block;
}
@media (max-width: 576px) {
    .default-rank {
        min-width: 30px;
        min-height: 30px;
    }
    .rank-number {
        top: 50%;
        left: 10%;
        font-size: 2vw;
    }
}

.ranks {
    width: 40%;
    height: auto;
}

.rank-number {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%); 
    font-weight: bold;
    font-size: 1.5vw;
    color: #6283ad;  
    text-align: center;
}

.robot-img  {
    width: 14%;
    height: auto;
    /* display: block; */
}

